/web/bundles/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/app/phpunit.xml
/build/
/vendor/
/composer.phar
/nbproject/private/
/symfony
/app/config/.env
VERSION